div{
    border-style: solid;
    border-color: red;
    border-width: 5px;
    margin-left: 50px;
    margin-top: 10px;
    margin-right: 50px;
    margin-bottom: 10px;
    padding-left: 40px;
    padding-top: 20px;
    padding-right: 40px;
    padding-bottom: 20px;
    width: 75%;
}